@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
body {
    margin: 0%;
    font-family: 'Nanum Myeongjo', serif;
}

a {
    text-decoration: none;
    color: white
}

.contactlink {
    margin-top: 25vh;
    background-color: tomato;
}