@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
body {
    margin: 0%;
    font-family: 'Nanum Myeongjo', serif;
}

a {
    text-decoration: none;
    color: white
}


/* 1페이지 */

.page1 {
    display: flex;
    flex-direction: row;
    /* background-image: url("./img/Maxam.jpeg");
    background-size:cover; */
    background-color: rgb(253, 253, 252);
    width: 100%;
    height: 100vh;
}

.img {
    margin-left: 18vh;
    padding-top: 20vh;
    display: flex;
}

.text {
    margin-left: 90px;
    margin-right: 18vh;
    height: 300px;
    width: 600px;
    background-color: rgba(241, 241, 241, 0);
    margin-top: 40vh;
    color: rgb(61, 61, 61);
}

.jinietext {
    font-size: 55px;
    margin-bottom: 4.5vh;
}

.textexplain {
    line-height: 37px;
    margin-top: 20px;
    font-size: 22px;
}


/* 1페이지 끝 */

.page2 {
    /* background-image: url("./img/jjjjj.jpeg");
    background-size:cover; */
    background-color: rgb(255, 241, 194);
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.imgdiv {
    padding-top: 24.5vh;
    text-align: center;
    /* margin-left: 3.3vw; */
    /* padding-left: 8vw;
    padding-right: 8vw; */
    width: 80%;
    margin-left: 11.5%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(36vh, 1fr));
}

.imgdivsmall {
    position: relative;
    width: 40vw;
    /* padding-left: ;
    padding-right: 5px; */
}

.imgg {
    position: absolute;
}

.circle {
    font-size: 38px;
    color: rgb(255, 254, 249);
    position: absolute;
    width: 230px;
    height: 230px;
    background-color: rgba(63, 63, 63, 0.938);
    opacity: 0%;
    border: cornflowerblue solid 0px;
    border-radius: 50%;
    line-height: 230px;
}

.circle:hover {
    opacity: 100%;
    cursor: pointer;
}


/* .circlediv{
    position: absolute;

    text-align: center;  
    margin-left: 8.5vw;
    margin-right: 8.5vw;
    width: 83vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(36vh, 1fr) );
}
.circle{
    width: 230px;
    height: 230px;
    background-color: blanchedalmond;

} */


/* .circlediv{
    width: 83vw;
    position:absolute;
    padding-top: 24vh;
    background-color: black;
    text-align: center;  
    margin-left: 8.5vw;
    margin-right: 8.5vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(36vh, 1fr) );
} */

.ment {
    margin-top: 40vh;
    text-align: center;
    color: rgb(53, 53, 53);
    font-size: 22px;
    line-height: 36px;
}