@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
body {
    margin: 0%;
    font-family: 'Nanum Myeongjo', serif;
}

a {
    text-decoration: none;
    color: white
}

.page2020 {
    width: 84vw;
    height: 100vh;
    background-color: rgb(247, 229, 179);
    padding-top: 25vh;
    padding-left: 8vw;
    padding-right: 8vw;
}

.bigtext1 {
    font-size: 60px;
    color: rgb(58, 58, 58);
}

.projectbigdiv {
    margin-top: 12vh;
    display: flex;
    flex-direction: row;
}

.lineone {
    width: 25vw;
    text-align: center;
    margin-right: 2vw;
    font-size: 12px;
}

.linetwo,
.linethree,
.linefour,
.linefive {
    display: flex;
    flex-direction: column;
    width: 33vw;
    margin-right: 2vw;
    font-size: 12px;
}

.lineone {
    text-align: center;
    margin-right: 2vw;
    font-size: 12px;
}

.when {
    margin-bottom: 6vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: rgba(64, 224, 208, 0) solid 1px;
    border-radius: 25px;
    background-color: violet;
}

.personal {
    margin-bottom: 2vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: rgba(64, 224, 208, 0) solid 1px;
    border-radius: 25px;
    background-color: violet;
}

.hyehwa {
    margin-bottom: 2vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: rgba(64, 224, 208, 0) solid 1px;
    border-radius: 25px;
    background-color: violet;
}

.team {
    margin-bottom: 0.5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: rgba(64, 224, 208, 0) solid 1px;
    border-radius: 25px;
    background-color: violet;
}

.tt1 {
    margin-bottom: 6vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: rgba(64, 224, 208, 0) solid 1px;
    border-radius: 25px;
    background-color: violet;
    text-align: center;
}

.personal1 {
    margin-bottom: 2vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: rgba(64, 224, 208, 0) solid 1px;
    border-radius: 25px;
    background-color: violet;
    text-align: center;
}

.hyehwa1 {
    margin-bottom: 2vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: rgba(64, 224, 208, 0) solid 1px;
    border-radius: 25px;
    background-color: violet;
    text-align: center;
}

.team1 {
    margin-bottom: 2vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border: rgba(64, 224, 208, 0) solid 1px;
    border-radius: 25px;
    background-color: rgb(187, 187, 187);
    font-size: 11px;
    text-align: center;
}